@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.header__item {
  color: white;
}
.header__logo, .header__bin {
  filter: invert(1);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}
.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
  filter: brightness(1.2) saturate(1.5);
}
.home__parallax-bg {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  height: 150%;
  z-index: -2;
  transform: rotate(90deg) scale(2);
  opacity: 0.03;
}
.home__title-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0 10px;
  min-height: 100vh;
}
@media (max-width: 500px) {
  .home__title-wrap {
    align-items: center;
    justify-content: flex-start;
    margin: 0 0;
  }
}
.home__title, .home__subTitle, .home__content-title {
  color: white;
}
.home__title {
  font-family: "Nunito", sans-serif;
  letter-spacing: 3px;
  font-size: 50px;
}
@media (max-width: 676px) {
  .home__title {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
  .home__title {
    font-size: 15px;
    margin-top: 5px;
  }
}
.home__subTitle {
  font-family: "Poppins";
  font-weight: bold;
}
@media (max-width: 500px) {
  .home__subTitle {
    display: none;
  }
}
.home__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.home__content-title {
  text-align: center;
  margin: 30px 0 20px 0;
  color: black;
  font-size: 40px;
  font-family: "Poppins";
  font-weight: bold;
}
@media (max-width: 500px) {
  .home__content-title {
    font-size: 25px;
    margin: 0 0 20px 0;
  }
}
.home__slash {
  color: red;
}
.home__button {
  margin-top: 20px;
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 7px;
  max-width: 200px;
  min-height: 20px;
  color: white;
  text-transform: uppercase;
}
.home__button:hover {
  cursor: pointer;
  background-color: rgb(94, 143, 235);
  color: white;
}
.home__button:active {
  transform: scale(0.95);
}
@media (max-width: 500px) {
  .home__button {
    margin-top: 10px;
  }
}
.home__titleBtn {
  background-color: transparent;
}
.home__contentBtn {
  background-color: rgb(94, 143, 235);
}
.home__contentBtn:hover {
  background-color: #1957ca;
}
.home__layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  gap: 10px 10px;
}
.home__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-height: 600px;
  max-width: 250px;
  flex: 1 1 45%;
}
.home__img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(94, 143, 235);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.home__img {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
.home__img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.home__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 250px;
  padding: 5px 20px;
}
.home__name, .home__price {
  font-family: "Roboto";
  line-height: 20px;
  text-align: center;
  font-size: 14px;
}
.home__price {
  color: rgb(94, 143, 235);
  font-size: 17px;
}
.home__descr {
  margin-top: 15px;
}/*# sourceMappingURL=home.css.map */