@import "variables.scss";

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  width: 100%;
  font-family: "Montserrat";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 4px;
  z-index: 1;
  @media (max-width: 500px) {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 0px;
  }

  &__nav {
    display: flex;
    align-items: center;
  }
  &__item {
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    &:hover {
      cursor: pointer;
      color: $theme-color;
    }
    @media (max-width: 500px) {
      margin: 7px 10px;
    }
  }
  &__logo {
    object-fit: cover;
    width: 80px;
    cursor: pointer;
    @media (max-width: 500px) {
      display: none;
    }
  }
  &__bin {
    margin-right: 20px;
    object-fit: cover;
    width: 35px;
    cursor: pointer;
    @media (max-width: 500px) {
      margin-right: 0px;
    }
  }
  &__counter {
    display: none;
    position: absolute;
    width: 35px;
    height: 20px;
    color: white;
    background-color: $theme-color;
    border-radius: 10px;
    top: 10px;
    right: 10px;
    text-align: center;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    &--show {
      display: block;
    }
    @media (max-width: 500px) {
      top: 40px;
      right: 45%;
    }
  }
}

.sidebar {
  display: grid;
  grid-template-rows: 63px 1fr 90px;
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: right 0.3s ease-in-out;
  z-index: 1;
  &--open {
    right: 0;
  }

  &__mid,
  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__top,
  &__bottom {
    position: relative;
    z-index: 3;
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 10px;
      z-index: 3;
    }
  }

  &__top::after {
    bottom: -10px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)
    );
  }

  &__mid {
    overflow-y: auto;
    max-height: calc(100vh - 153px);
    // direction: rtl;
  }

  &__bottom::before {
    top: -10px;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)
    );
  }

  &__closeBtn {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    &:hover {
      color: $theme-color;
      cursor: pointer;
    }
  }

  &__title {
    color: #fff;
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    padding: 10px;
    width: 100%;
    height: 100%;
  }

  &__item {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
  }

  // newItem супроводжується скриптами sidebar.js
  &__item.newItem {
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 0.3s ease forwards;
  }
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  // removedItem супроводжується скриптами sidebar.js
  &__item.removedItem {
    animation: slideOut 0.3s ease forwards;
  }
  @keyframes slideOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
  // ----------  //

  &__img {
    object-position: center;
    object-fit: cover;
    width: 65px;
    height: 65px;
    padding: 5px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  &__removeBtn {
    cursor: pointer;
    font-style: italic;
    color: grey;
    &:hover {
      color: red;
    }
  }

  &__countBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20px;
    padding: 3px;
    margin-right: 3px;
    height: 100%;
  }

  &__arrow {
    display: block;
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 2px;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      border-color: $theme-color;
      scale: 1.4;
    }
    &--up {
      transform: rotate(-135deg);
    }
    &--down {
      transform: rotate(45deg);
    }
  }

  &__total {
    color: white;
  }

  &__btn {
    margin-top: 20px;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 7px;
    width: 200px;
    min-height: 15px;
    color: white;
    font-weight: bold;
    background-color: $theme-color;
    text-transform: uppercase;
    transition: transform 0.3s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      color: white;
    }
    &:active {
      transform: scale(1);
      background-color: lighten($theme-color, 3%);
    }
  }
}
