@import "variables.scss";

.products {
  &__title-fakeWrap {
    position: absolute;
    top: 60px;
    left: 0;
    min-height: 120px;
    background-color: lighten($theme-color, 30%);
    width: 100%;
    @media (max-width: 500px) {
      top: 75px;
      min-height: 60px;
    }
  }

  &__title-wrap {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 120px;
    color: $font-color;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    max-width: 100%;
    @media (max-width: 500px) {
      justify-content: center;
      min-height: 60px;
    }
  }

  &__title {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 10px;
    z-index: 1;
  }

  &__content {
    display: grid;
    grid-template-columns: 150px 1fr;
    color: $font-color;
    margin: 30px 10px;
    line-height: 25px;
    @media (max-width: 500px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__search-wrap {
    margin-bottom: 20px;
  }

  &__input {
    border-radius: 6px;
    padding: 7px;
    width: 100%;
    box-shadow: 0 0 7px lighten($theme-color, 15%);
    transition: box-shadow 0.3s ease;
    margin-bottom: 15px;
    &::placeholder {
      color: #999;
      font-style: italic;
    }
    &:focus {
      outline: none;
      box-shadow: 0 0 7px $theme-color;
      border: 0;
    }
  }

  &__slider-container {
    margin-top: 15px;
  }

  &__slider {
    cursor: pointer;
  }

  &__search-item {
    font-family: "Nunito", sans-serif;
    padding-left: 5px;
    &:hover {
      background-color: $theme-color;
      border-radius: 4px;
      cursor: pointer;
      color: white;
    }
  }

  &__search-label {
    font-style: italic;
  }

  &__layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 20px 20px 20px;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    gap: 20px 10px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-height: 600px;
    max-width: 250px;
    flex: 1 1 45%;
  }

  &__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $theme-color;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }

  &__img {
    width: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 240px;
    padding: 0 20px;
  }

  &__name,
  &__price {
    font-family: "Roboto";
    line-height: 20px;
    text-align: center;
    font-size: 14px;
  }
  &__price {
    color: $theme-color;
    font-size: 17px;
  }
  &__descr {
    margin-top: 15px;
  }
}
